<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<h1 class="page-header text-center" >My Diary</h1>
<div style="width:100%" class="col-xs-offset-5"><div style="display:inline-block"><a class="glyphicon glyphicon-question-sign" style="margin-top:60px; font-size:40px" role="button" onclick="helpDairy()"></a> </div>
</div>
<div id="root">
	<div class="container">
		<div class="container photo">
		<img src="/images/fake1.png">
	</div>
	<div>
		<textarea rows="8" cols="25" class="row" style="resize:none;">Yummy Food :D</textarea><br/>
	</div>
	<div>
		<text>Health: </text><br>
		<text>Taste: </text><br>
		<text>Mood: </text><br>
		<text>Anxiety: </text>
	</div>
		<a href="#" class="btn" role="button">Edit</a>
	</div>
	<hr>
		<div class="container">
		<div class="container photo">
		<img src="/images/fake2.png">
	</div>
	<div>
		<textarea rows="8" cols="25" class="row" style="resize:none;">FOOOOOOOOOOOOOOOOOOOD :D</textarea><br/>
	</div>
	<div>
		<text>Health: </text><br>
		<text>Taste: </text><br>
		<text>Mood: </text><br>
		<text>Anxiety: </text>
	</div>
		<a href="#" class="btn" role="button">Edit</a>
	</div>
	<hr>
	<div class="container">
		<div class="container photo">
		<img src="/images/fake3.png">
	</div>
	<div>
		<textarea rows="8" cols="25" class="row" style="resize:none;">Yummmmmmmmmmmmmmmmmy :D</textarea><br/>
	</div>
	<div>
		<text>Health: </text><br>
		<text>Taste: </text><br>
		<text>Mood: </text><br>
		<text>Anxiety: </text>
	</div>
		<a href="#" class="btn" role="button">Edit</a>
	</div>
	<hr>

</div>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
<script>
function helpDairy() {
    alert("Tutorials\n\nIn this page, you could view your dairy history. You could either scrolls up down or click the calendar to find one specific day."               
      );
}
</script>
</body>
</html>
