<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<button type="button" class="col-xs-offset-5">Log Off</button>
<body>
	<h1 style="text-align:center" class="page-header">HOME</h1>

	{{#each tabs}}
	<div class="tab" align="Center">
	<a href="/tab/{{id}}" >
	<button type="button"  class="btn-link btn-lg btn-info" id="{{id}}">{{name}}</button>
	</a>
</div>
<br />
	{{/each}}
</body>
</html>
