<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<fieldset>
	<a href="/tab/login" class="btn btn-info btn-sm col-md-6 push-md-6" role="button" id="login">Log Off</a>
	<a href="/tab/profile" class="btn btn-info btn-sm col-md-6 push-md-6" role="button"  id="profile">My Profile</a>

</fieldset>
<body>
	<h1 style="text-align:center" class="page-header ">HOME</h1>
	<div class="tab" align="Center">
	<a href="/tab/entry" class="jumbotron glyphicon glyphicon-plus btn-primary btn-lg" style="margin-bottom:5px; " role="button" id="entry"><br>Create New Entry</a><br/>

	<div style="width:100% text-align:center">
		<div style="display:inline-block"><a href="/tab/diary" class="btn btn-primary btn-lg " role="button" style="font-size:21.5px" id="diary">View Diary</a></div>
		<div style="display:inline-block"><a href="/tab/anxiety" class="btn btn-primary btn-lg " role="button" style="font-size:21.5px" id="anxiety">Anxiety</a><br></div>
</div>
<div style="margin-top:25px; width:100%"class="container">
	<div style="display:inline-block"><a href="/tab/stat" class=" btn-primary btn-sm" role="button" style="font-size:15.3px; padding-top:25px; padding-bottom:25px;" id="stat">Statistics</a></div>
	<div style="display:inline-block"><a href="/tab/news" class=" btn-primary btn-sm" role="button" style="font-size:15.3px; padding-top:25px; padding-bottom:25px;" id="news">News</a></div>
	<div style="display:inline-block"><a href="/tab/community" class=" btn-primary btn-sm" role="button" style="font-size:15.3px; padding-top:25px; padding-bottom:25px;" id="community">Community</a></div>
</div>
</div>
<div style="width:100%" class="col-xs-offset-5">
	<div style="display:inline-block"><a href="/tab/setting" class="glyphicon glyphicon-cog  " style="margin-top:60px; font-size:40px" role="button" id="setting"></a></div>
	<div style="display:inline-block"><a class="glyphicon glyphicon-question-sign" id = "question1" style="margin-top:60px; font-size:40px" role="button" id="help" onclick="helpHome()"></a> 
	</div>
</div>
<br />
<script>
function helpHome() {
    alert("Tutorials\nCreate new Entry: \n\nThis page intends to help you record your meals. You record meals by either take a photo or leave some texts. And you will then do  self-rate about current mood, food taste and food healthy level.\n\nMy Dairy:\n\nIn this page, you could view your dairy history. You could either scrolls up down or click the calendar to find one specific day.\n\nStatistics:\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood.\n\nAnxiety:\n\nThis app also tends to track users’ anxiety level while they make entry about their meals, then provide statistical analysis about users. You could rate your anxiety at any time of a day whenever you feel a need.\n\nNews:\n\nThis is the place where you could have fun while you are eating meals. You could browse the latest funny videos about eating that makes you laugh and the scientific healthy tips to help you eat healthier. This also contributes users to have a better mood.\n\nCommunity:\n\nThis page is to allow users browse other user’s dairy. You might feel curious about the meal taste and how other user rate themselves, and here’s your chance to have a look. You can only see the dairy without any personal information about that user and you can only browse user’s dairy in most recent three days. You could leave a praise anonymously."               
    	);
}
</script>
</body>
</html>


