<!doctype html>

<html>
<head>
	<title>Home Page</title>
</head>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/bootstrap-theme.min.css" rel="stylesheet">
<link href="css/introHCI.css" rel="stylesheet">

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (blelow), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<body class="col-lg-offset-6">
	<button type="button">Log Off</button>
	<h1 class="">HOME</h1>
	<button type="button" class="btn-primary">Create New Entry</button>
	<button type="button" class="btn-primary">Edit Anxiety Level</button>
	<button type="button" class="btn-primary">View Diary</button>
	<button type="button" class="btn-primary">Show Statistics</button>
</body>
</html>
