<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div id="root" class="text-center">
	<div style="width:100%" class="col-xs-offset-5"><div style="display:inline-block"><a class="glyphicon glyphicon-question-sign" style="margin-top:60px; font-size:40px" role="button" onclick="helpStat()"></a> </div>
</div>
	<h1 class="page-header" >Statistics</h1>
	<div align="center">
			<a href="#" class="btn" role="button">Taste</a>
			<a href="#" class="btn" role="button" >Health</a>
			<a href="#" class="btn" role="button">Mood</a>
			<a href="#" class="btn" role="button">Anxiety</a>
	</div>
	<div class="container">
	<select name="time" class="col-lg-offset-2 " >
		<option value="weekly">Weekly</option>
		<option value="monthly">Monthly</option>
		<option value="yearly">Yearly</option>
	</select>
	<div class="glyphicon glyphicon-calendar" style="padding-left:5px; font-size:50px"></div><br>
	<div class="container large-box" style="background-color:red border-color:red">
		<img src="/images/health1.png" class="img">
	</div>
</div>
<a href="/index" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
<script>
function helpStat() {
    alert("Tutorials\n\nThis page gives out statistical analysis with graphs to help you track your self-logged meals. It will provides you weekly, monthly and yearly barchart graphs about your food health, food taste and mood."               
      );
}
</script>
</body>
</html>
