<!doctype html>

<html>
<head>
	<title>Food Diary App</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.min.css" rel="stylesheet">

</head>
<body>
<div id="root" class="text-center">
	<h1 class="page-header" >Statistics</h1>
	<table align="center" class="rating-table table-bordered table-condensed" >
		<tr>
			<a href="#" ><th class="text-center">Taste</th></a>
			<th class="text-center">Health</th>
			<th class="text-center">Mood</th>
			<th class="text-center">Anxiety</th>
		</tr>
	</table>
	<div class="container">
	<select name="time" class="col-lg-offset-2 " >
		<option value="weekly">Weekly</option>
		<option value="monthly">Monthly</option>
		<option value="yearly">Yearly</option>
	</select>
	<div class="glyphicon glyphicon-calendar" style="padding-left:5px; font-size:50px"></div><br>
	<div class="container large-box" style="background-color:red border-color:red">
		<img src="/public/images" class="img">
	</div>
</div>
<a href="/" class="btn btn-primary col-xs-offset-5" role="button">Back</a>
</body>
</html>
